localhost:2000 {
# public {
    webdav {
        modify false
        scope ./webdav/
    }
    root ./webdav/
    log ./logs/access.log
    cors
}

localhost:2002 {
# private {
    basicauth local host
    webdav {
        modify true
        scope ./webdav/
    }
    root ./webdav/
}


localhost:2001 {
# site {
    root ./webdav/www/
    gzip
    rewrite / {
        regexp .*
        ext !html,!css,!js
        to /
    }
}